
aind2-cnn/.DS_Store
aind2-cnn/mnist-mlp/.ipynb_checkpoints/
aind2-cnn/mnist-mlp/.DS_Store
aind2-cnn/conv-visualization/.ipynb_checkpoints/
aind2-cnn/conv-visualization/.DS_Store
aind2-cnn/cifar10-classification/.ipynb_checkpoints/
aind2-cnn/cifar10-classification/.DS_Store
aind2-cnn/cifar10-augmentation/.ipynb_checkpoints/
aind2-cnn/cifar10-augmentation/.DS_Store
aind2-cnn/transfer-learning/dogImages
aind2-cnn/transfer-learning/bottleneck_features/DogVGG16Data.npz
aind2-cnn/transfer-learning/.ipynb_checkpoints/
aind2-cnn/transfer-learning/.DS_Store
neuralnets/.ipynb_checkpoints/
neuralnets/gradient_descent/.ipynb_checkpoints/
neuralnets/keras_tutorial/.ipynb_checkpoints/

